h2{
  color: brown;
  font-size: larger;
  font-size: 50px;
  text-align: center;
  text-transform: capitalize;
}
div{
  width: 100px;
  height: 100px;
  background-color: rgb(148, 124, 124);
}
body{
  background-color: rgb(105, 85, 85);
}
.green{
  width: 350px;
  height: 250px;
  background-color: green;
  padding-top: 75px;
  padding-left: 300px;
  border-radius: 15px;
}
.red{
width: 150px;
height: 150px;
border-radius: 50%;
background-color: red;

}
.lathi{
  width: 20px;
  height: 750px;
  background-color: black;
  border-radius: 20px;
}
p{
  font-size: 35px;
  background-color: rgb(156, 138, 138);
  font-weight: bolder;
  width: 500px;
  text-align: center;
  font-style: normal;
  font-variant: initial;
  text-transform: capitalize;
  /* padding-top: 40px; */
}
.head{
  width: 500px;
  border: 2px solid black;
  height: 150px;
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  border-radius: 10px;
}
*{
  margin: 0px;
  padding: 0px;
}